D:/GitHub/FarawayLand/Scene[[:space:]]Test[[:space:]]TP_Mapa6(semli)/Assets/Resources/Tile[[:space:]]Textures/Area18 filter=lfs diff=lfs merge=lfs -text
D:/GitHub/FarawayLand/Scene[[:space:]]Test[[:space:]]TP_Mapa6(semli)/Assets/Resources/Assets/Despensa(Finalizado)(1).psd filter=lfs diff=lfs merge=lfs -text
D:/GitHub/FarawayLand/Scene[[:space:]]Test[[:space:]]TP_Mapa6(semli)/Assets/Resources/Assets/CorredorSalaDeJantar(Finalizado)(1).psd filter=lfs diff=lfs merge=lfs -text
D:/GitHub/FarawayLand/Scene[[:space:]]Test[[:space:]]TP_Mapa6(semli)/Assets/Resources/Assets/SalaDeJantar(Finalizado)(1).psd filter=lfs diff=lfs merge=lfs -text
D:/GitHub/FarawayLand/Scene[[:space:]]Test[[:space:]]TP_Mapa6(semli)/Assets/Resources/Tile[[:space:]]Textures/Area16/CorredorSalaDeJantar(Finalizado)(1).psd filter=lfs diff=lfs merge=lfs -text
D:/GitHub/FarawayLand/Scene[[:space:]]Test[[:space:]]TP_Mapa6(semli)/Assets/Resources/Tile[[:space:]]Textures/Area14/Corredorparacozinha(1).psd filter=lfs diff=lfs merge=lfs -text
D:/GitHub/FarawayLand/Scene[[:space:]]Test[[:space:]]TP_Mapa6(semli)/Assets/Resources/Tile[[:space:]]Textures/Area13/Banheiro(1).psd filter=lfs diff=lfs merge=lfs -text
D:/GitHub/FarawayLand/Scene[[:space:]]Test[[:space:]]TP_Mapa6(semli)/Assets/Resources/Tile[[:space:]]Textures/Area12/Biblioteca(1).psd filter=lfs diff=lfs merge=lfs -text
D:/GitHub/FarawayLand/Scene[[:space:]]Test[[:space:]]TP_Mapa6(semli)/Assets/Resources/Tile[[:space:]]Textures/Area11/QuartoPrincipal(1).psd filter=lfs diff=lfs merge=lfs -text
D:/GitHub/FarawayLand/Scene[[:space:]]Test[[:space:]]TP_Mapa6(semli)/Assets/Resources/Tile[[:space:]]Textures/Area18/Porão(Finalizado).psd filter=lfs diff=lfs merge=lfs -text
D:/GitHub/FarawayLand/Scene[[:space:]]Test[[:space:]]TP_Mapa6(semli)/Assets/Resources/Tile[[:space:]]Textures/Area17/Despensa(Finalizado)(1).psd filter=lfs diff=lfs merge=lfs -text
